/* 
yecha 设计编写 原创设计 请勿仿制 
QQ:372009617
*/
@CHARSET "UTF-8";
.topbar { display: block; line-height: 20px; border-bottom: 1px solid #F4F4F4; }
.newsxxbox { padding: 15px 20px; }
h1.newstitle { font-size: 16px; font-weight: bold; line-height: 22px; padding: 5px 0 5px 0px; }
.newsbox { clear: both; padding: 30px 0 0; width: 100%; }
.author { padding: 30px 20px; width: 210px; border-left: 1px solid #F4F4F4; }
.author a img { float: left; width: 48px; height: 48px; box-shadow: 0 0 5px #cccccc; -webkit-box-shadow: 0 0 5px #cccccc; -moz-box-shadow: 0 0 5px #cccccc; border: 1px solid #ccc; padding: 1px; }
.author a:hover img { animation: xuanzhuan 1s infinite; -webkit-animation: xuanzhuan 1s infinite; }
@-webkit-keyframes 'xuanzhuan' {
from {
-webkit-transform:perspective(400px) rotateY(0deg);
}
to {
-webkit-transform:perspective(400px) rotateY(360deg);
}
}
.author span { display: inline-block; margin-left: 10px; float: left; line-height: 20px; }
a.addgz { padding: 0 0 0 22px; background: url(apBg.png) no-repeat left -18px; height: 18px; margin-left: 10px; display: inline-block; }
span.time { display: inline-block; background: url(time.png) 5px center no-repeat; padding-left: 25px; }
.tj { width: 100%; padding: 30px 0; text-align: center; }
.tj span { display: inline-block; width: 102px; height: 104px; cursor: pointer; background: url(tj.png) no-repeat left top; }
.tj span:hover { -moz-opacity: 0.8; filter: alpha(opacity=80); opacity: 0.8; }
.subBtn.down { background: url(tj.png) no-repeat left bottom; }
.caozuo { background: #036CB4; width: 100%; height: 76px; }
.rqmore { background: #fff; border: 1px solid #ccc; padding: 15px; position: absolute; top: 76px; right: 0; line-height: 22px; color: #000; box-shadow: 0 0 15px #cccccc; -webkit-box-shadow: 8px 8px 15px #868686; -moz-box-shadow: 0 0 15px #cccccc; display: none; }
.rqmore li { float: left; padding: 0 10px 0 0; }
.renqi { width: 168px; height: 61px; background: #868686 url(renqi.png) no-repeat 15px 30px; float: right; padding: 0 15px 0 57px; border-left: 1px solid #F4F4F4; position: relative; padding-top: 15px; color: #fff; line-height: 1.5; }
.rqnum { display: inline-block; font-size: 35px; font-family: Arial, Helvetica, sans-serif; color: #F1FF8A; line-height: 1; padding-right: 30px; background: url(downGray.png) no-repeat right center; display: block; font-weight: bold; }
.caozuo ul { float: left; }
.caozuo li { float: left; }
.caozuo li>a { display: inline-block; height: 51px; color: #fff; padding: 25px 25px 0 45px; }
.caozuo li>a span { display: block; line-height: 25px; color: #9FC7E2; }
.addfav { background: url(starW.png) 20px center no-repeat; }
.fenxiang { background: url(shareW.png) 14px center no-repeat; }
.jubao { background: url(reportW.png) 14px center no-repeat; }
.view { background: url(view.png) 14px center no-repeat; }
.buy { background: url(buy.png) 14px center no-repeat; }
.downloaddm { background: url(downloaddm.png) 14px center no-repeat; }
.payol { background: url(payol.png) 14px center no-repeat; }
.caozuo li a:hover { background-color: #2D85C1; -webkit-transition: .25s linear .1s; transition: .25s linear .1s; }
.bdfx { position: relative;z-index:10; }
.baidufx { position: absolute; top: 76px; width: 511px; background: #2D85C1; padding: 10px 0; padding-left: 10px; left: -264px; display: none; }
.baidufx a { display: inline-block; float: left; padding: 0; }
/*评分*/
.score { margin-top: 30px; background-color: #fff; margin-left: 10px; }
.jRatingAverage { background-color: #abddff; position: relative; top: 0; left: 0; z-index: 2; height: 100%; }
.jRatingColor { background-color: #abddff; /* bgcolor of the stars*/ position: relative; top: 0; left: 0; z-index: 2; height: 100%; }
/** Div containing the stars **/
.jStar { position: relative; left: 0; z-index: 3; }
/** P containing the rate informations **/
p.jRatingInfos { position: absolute; z-index: 9999; background: transparent url('icons/bg_jRatingInfos.png') no-repeat; color: #FFF; display: none; width: 91px; height: 29px; font-size: 16px; text-align: center; padding-top: 5px; }
p.jRatingInfos span.maxRate { color: #c9c9c9; font-size: 14px; }
.zzxx { }
.zzxx .author a img { width: 64px; height: 64px; margin-right: 10px; }
.zzxx .author { width: 260px; border-right: 1px solid #F4F4F4; position: relative; padding: 20px; z-index:1;}
.zzxx .author .addgz { position: absolute; right: 20px; top: 20px; }
.zzzp { float: left; margin-left: 10px; }
.zzzp a { margin: 18px 0 0 8px; display: inline-block; float: left; }
.morezp { background: url(dian.png) no-repeat; width: 100px; height: 75px; float: right; }
/*评论*/
.pinglun { clear: both; margin-top: 20px; background: #fff; }
.plbox { padding: 20px 30px; }
.plbox textarea { width: 1010px; height: 80px; padding: 5px; font-size: 15px; text-shadow: 0px 1px 0px #fff; outline: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #ccc; -webkit-transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; background: #FBFBFB url(inputBg.png) repeat-x left top; }
.plbox textarea:focus { border: 1px solid #fafafa; -webkit-box-shadow: 0px 0px 6px #007eff; -moz-box-shadow: 0px 0px 5px #007eff; box-shadow: 0px 0px 5px #007eff; }
.plsub { line-height: 25px; text-align: right; margin: 10px 0 0 0; }
.plsub span { float: left; position:relative;}
.plsub span .face{ position:absolute; background:#fff; z-index:10;border-radius: 4px; border:1px solid #ccc; text-align:left; padding:10px;box-shadow: 1px 1px 4px #cccccc; display:none;}
.allpl { line-height: 48px; background: white url(logTitle.png) repeat-x left bottom; height: 48px; padding: 0 20px; font-weight: bold; }
.pllist { width: 100%; }
.pllist li { display: block; margin-bottom: 10px; clear: both; padding: 20px 20px 10px 20px; border-bottom: 1px solid #F4F4F4; position: relative; }
.pllist li .tx { width: 48px; height: 48px; margin-right: 15px; }
.pllist em abbr.time{ font-size:12px;}
.plnr { line-height: 1.8; display: inline-block; width: 980px; }
.plnr span { display: block; }
.louceng { position: absolute; right: 20px; top: 20px; }
.plnr em { font-style: normal; color: #999 }
.plnr img{max-height: 80px;max-width: 80px;_width: 80px;_height: 80px;}
.pldig { color: #999999; font-size: 10px; }
.pldig a { font-size: 12px; color: #4095CE; }
.ecomment { border: 1px solid #E4E4E4; background: #F4F4F4; padding: 10px 20px; margin: 10px 0; font-size: 12px; color: #ABABAB; position: relative; }
.ecomment a { color: #6795D0; margin-right: 5px; }
.ecomment em { position: absolute; bottom: -10px; left: 15px; color: #F4F4F4; text-shadow: #ddd 0 1px 0; }
.closepl{ margin-left:5px;}
/*素材内容页*/
.rightbar { width: 300px; float: right; padding: 10px; }
.leftside { margin-right: 320px; border-right: 1px solid #F4F4F4; }
.scpf, .sctip { position: relative; display: inline-block;z-index:10;}
.scpf .pingfen { background: #036CB4; position: absolute; top: 76px; width: 260px; padding: 10px; right: 0; margin-right: -80px; border: 1px solid #868686; border-top: none; text-align: center; display: none; }
.sctishi { background: #2D85C1; position: absolute; top: 76px; width: 521px; line-height: 35px; color: #fff; text-indent: 20px; display: none; z-index:10;}
.sctip .sctishi a { color: #9FC7E2; margin: 0 5px; padding: 0; height: 35px; display: inline; background: url(fav.png) left center no-repeat; padding-left: 20px; }
.pingfen span { position: absolute; color: #fff; right: 5px; top: 5px; cursor: pointer; font-size: 8px; }
.scpf .score { margin: 0 auto; background: #fff; }
.scpllist .plnr { width: 650px; }
.scpinglun textarea { width: 700px; }
.scpllist li { clear: none; }
.newsbox .Content{width: 960px;margin: 0 auto;padding-bottom:20px;position: relative;line-height: 1.8;}
.newsbox img{max-width: 940px; width:expression(this.width > 940 ? "940px" : this.width);}
.qpContent img{max-width: 1083px; width:expression(this.width > 1083 ? "1083px" : this.width);}
.sccontent { width: 600px; margin: 0 auto; line-height: 1.8;}
.qpContent{line-height: 1.8;}
.sccontent img { max-width: 600px; width:expression(this.width > 600 ? "600px" : this.width);}
.tages {width: 600px;margin: 0px auto;padding: 20px;}
.tages a { margin-left: 15px; color: #036CB4; }
.tages a:hover { color: red; }
.download { padding: 15px 20px; }
.download h4 { font-size: 14px; }
.download h4 span { font-size: 12px; font-weight: normal; color: #999999; margin-left: 10px; }
.sccopyright { margin: 10px 0; color: red; line-height: 1.8; }
.scdown a { margin-right: 15px; }
.zzother { padding: 20px; }
.zzother h3 { line-height: 1; font-size: 14px; font-weight: bold; padding: 10px; }
.zzother h3 span a { width: 25px; height: 16px; background: url(linkMore.png) no-repeat; display: inline-block; }
.zzother h3 span a:hover { background-position: 0 -16px; }
.zzother li { display: inline-block; padding: 10px 0 0; color: #999999; line-height: 1.8; }
.zzother li a img { float: left; margin-right: 10px; width: 100px; height: 75px; }
.zzother li a { color: #333; }
.zzother li span { display: block; }
.tjbox { display: none; }
.replyComment { width: auto; margin:10px 0; margin-left:60px; margin-right: 20px; display:none;}
.replyComment textarea { width: 100%; height: 90px; padding: 5px; font-size: 15px; text-shadow: 0px 1px 0px white; outline: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border: 1px solid #CCC; -webkit-transition: .3s ease-in-out; -moz-transition: .3s ease-in-out; background: #FBFBFB url(inputBg.png) repeat-x left top; }
a.qq_contect{ display:inline-block; float:inherit;}

.newsbox table{}
.newsbox table th{border:1px solid #ddd;background:#fafafa;text-align:left;padding:8px 20px;}
.newsbox table td{border:1px solid #ddd;padding:8px 20px;}
.newsbox li{list-style-type:}